<div class="all-comments-container">
    <%= render partial: 'posts/post', locals: { post: @post } %>
    <div class="list-of-comments">
        <% @post.comments.each do |comment| %>
            <p class="post-comment"><%= @user.name %>: <%= comment.text %></p>
        <%end%>
    </div>

    <h2>Add a comment</h2>
    <button type="button" class="comment-button"><%= link_to "Comment", new_user_post_comment_path( post_id: @post.id), { class: "user-link" } %></button>
    <%= form_with model: @like, url: user_post_likes_path(1, @post), scope: :like do |form|%>
        <%= form.submit 'Like post', class: 'like-button' %>
     <% end %>
 </div>
